<article id="delicate-flavours" class="container black rounded" style="margin-bottom: 40px; padding: 20px;">
  <div class="row">
     <div class="col-md-6 text-center">
       <%= image_tag 'delicate-flavours.jpg', class: 'img-responsive' %>
     </div>
     <div class="col-md-6 tk-mittwoch">
       <span class="gold">Nusturtium</span> leaf, Chocolate Tea, Peruvian <span class="chilli">Chilli</span>, <span class="gold">Shiso</span> Basil, <span class="gold">Marigold</span> Flower.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 call-to-action">
      <div class=" tk-pragmatica-web-condensed">
         <span style="font-size: 1.4em;">Delicate Herbs and Spices</span><br/>
         We grow and dry our own herbs and spices for:<br/><%= link_to 'E8 Chocolate', e8_chocolate_path %>, <%= link_to 'Dalston Tea Time', dalston_tea_time_path %> and <%= link_to 'Hot, Hot Hot Chocolate', hot_chocolate_path %>
       </div>
    </div>
  </div>
</article>
